<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate-core?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin@123</property>
        <property name="hibernate.generate_statistics">true</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">5</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!--        EH Cache        -->
        <property name="cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>

        <!-- batch configuration -->
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>

<!--        <mapping class="org.hibernate_core.entity.Student"/>-->

    </session-factory>

</hibernate-configuration>